<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">
		
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" 
			destroy-method="close">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mangapp?serverTimezone=UTC"/>
		<property name="user" value="root"/>
		<property name="password" value="admin"/>
		
		<!-- C3P0 CONFIG -->
		<property name="acquireIncrement" value="1"/>
		<property name="minPoolSize" value="2"/>
		<property name="maxPoolSize" value="5"/>
		<property name="maxIdleTime" value="300"/>
	</bean>

	<bean id="hibernateJpaVendorAdapter" 
			class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
			
	<bean id="entityManagerFactory" 
			class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="javax.persistence.schema-generation.database.action">none</prop>
				<prop key="hibernate.ejb.use_class_enhancer">true</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.id.new_generator_mappings">false</prop>
			</props>
		</property>
		<!-- <property name="mappingResources">
			<list>
				<value>net/virux/mangapp/model/User.hbm.xml</value>
				<value>net/virux/mangapp/model/Profile.hbm.xml</value>
				<value>net/virux/mangapp/model/Title.hbm.xml</value>
				<value>net/virux/mangapp/model/Author.hbm.xml</value>
			</list>
		</property> -->
		<property name="packagesToScan" value="net.virux.mangapp.model"/>
		<property name="sharedCacheMode" value="ENABLE_SELECTIVE"/>
		<property name="validationMode" value="NONE"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	
	<tx:advice id="txAdvide" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="add*" read-only="false"/>
			<tx:method name="set*" read-only="false"/>
			<tx:method name="delete*" read-only="false"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut expression="execution(* net.virux.mangapp.service.*Service.*(..))" 
				id="mangappServiceOperation"/>
			<aop:advisor advice-ref="txAdvide" pointcut-ref="mangappServiceOperation"/>
	</aop:config>
	
	<tx:annotation-driven/>
	
	<jpa:repositories base-package="net.virux.mangapp.repository"/>

</beans>
